<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
    
        <input type="text"
               id="txtMarcaDenominacion"
               value=""
               placeholder="nombre de la nueva marca" />
        <button id="btnAddMarca">Crear marca</button>
    
    <!-- AÑADO LA REFERENCIA PARA PODER USAR JQUERY --
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <!-- AÑADO LA REFERENCIA A MIS PROPIOS FICHEROS DE JAVASCRIPT -->
    <script src="./js/marcas.js"></script>
</body>
</html>
