<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    Relación de tipos de combustible
    <div id="resultados">
    </div>
    <input type="text"
           id="txtTPDenominacion"
           value=""
           placeholder="nuevo tipo de combustible" />
    <button id="btnAddTipoCombustible">Crear tipo de combustible</button>

    <!-- AÑADO LA REFERENCIA PARA PODER USAR JQUERY -->
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <!-- AÑADO LA REFERENCIA A MIS PROPIOS FICHEROS DE JAVASCRIPT -->
    <script src="./js/tipoCombustible.js"></script>
</body>
</html>